footer{
    background-color: #f3730b;
    
}
hr{
    color: darkgreen;
}
.twitter ,.facebook{
    text-align: center;
}
.legalidad{
    float: right;
    
}
h4{
    color: #373636;
}
.redes-sociales{
    
}
