
/*Seccion de servicios*/
img.imagen{
    box-sizing: border-box;
    width: 80%;
    border-style:solid;
    border-color:darkgreen;
    border-collapse: collapse;
}
.divC1{
    overflow: auto;
    box-sizing: border-box;
    width: 60%;
    height:520px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;
    border-collapse: collapse;
}

.divContenedor{
    width: 40%;
    height:520px;
}
.divC2{
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height:260px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;
    border-collapse: collapse;
}
.divC3{
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height:260px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;
    border-collapse: collapse;
}
/*----------------------------------------*/

.tituloSc4{
    margin-top: 50px;
    color: #373636;
    text-align: center;
    background-color: #f3730b;
    padding: 4px;
}

.team-section{
    border-radius: 10px;
    display: flex;
    background-color: #f3730b;
    padding: 1%;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
}

/* .containerFoto{
    width: 200px;
} */

.foto {
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    margin: 10px;
    /* border-radius: 300px; */
    border: 1.5px solid #006400;
}   

.textoP{
    margin: 1%;
}

/* Noticias */
.newsNoticia{
    border-radius: 10px;
    background-color: #f3730b;
    padding: 2%;
    margin: 1%;
}
.imgNoticia{
    margin-right: 3%;
    border: 1.5px solid #006400;
}
.linkNoticia{
    color: #006400;
}
.encabezado2{
    color: #006400;
}
.encabezado3{
    color: #006400;
}

/*Footer*/
footer{
    background-color: #f3730b;
    border-radius: 15px;
    margin: 7px;
    
    
    
}
hr{
    color: darkgreen;
}
.twitter ,.facebook{
    text-align: center;
    margin-top: 10px;
    padding-top: 6px;
    height: 25px;
}
.legalidad{
    float: right;
    
}
h4{
    color: #373636;
    font-size: small;
}
.redes-sociales hr{
    color: darkgreen;
    border-style: solid;
    margin: 7px;
    
}
.legalidad{
    margin: 20px;
    margin-top: auto;
}
.footer-right{
    margin: 20px;
    margin-top: auto;
}
