
img.imagen{
    box-sizing: border-box;
    width: 100%;
    border-style:solid;
    border-color:darkgreen;
}
.divC1{
    margin-bottom: 20px;
    overflow: auto;
    box-sizing: border-box;
    width: 35%;
    height:520px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;

   
}
.divC2{
    overflow: auto;
    box-sizing: border-box;
    width: 35%;
    height:520px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;
}
.divC3{
    overflow: auto;
    box-sizing: border-box;
    width: 30%;
    height: 520px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size:large;
    background-color: #f3730b;
    border-style:solid;
    border-color:darkgreen;
}
/*----------------------------------------*/
.foto {
    width: 80px;
    height: 100px;
    border-radius: 20px;
    border: 1.5px solid #006400;
    margin-left: 20px;
}   

.tituloSc4{
    margin-top: 100px;
    color: #373636;
    text-align: center;
    background-color: #f3730b;
}

.presentacionIntegrantes div{
    box-sizing: border-box;
    color: #373636;
    background-color: #f3730b;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    margin-left: 7px;
    width: 19%;
    height: 470px;
    box-sizing: border-box;
    font-size: 12px;
}

.presentacionIntegrantes hr{
    color: darkgreen;
    background-color: #111;
    border-style: solid;

}
/* Noticias */
.news{
    border-radius: 10px;
    background-color: #f3730b;
}


/*Footer*/
footer{
    background-color: #f3730b;
    border-radius: 15px;
    margin: 7px;
    
    
    
}
hr{
    color: darkgreen;
}
.twitter ,.facebook{
    text-align: center;
    margin-top: 10px;
    padding-top: 6px;
    height: 25px;
}
.legalidad{
    float: right;
    
}
h4{
    color: #373636;
    font-size: small;
}
.redes-sociales hr{
    color: darkgreen;
    border-style: solid;
    margin: 7px;
    
}
.legalidad{
    margin: 20px;
    margin-top: auto;
}
.footer-right{
    margin: 20px;
    margin-top: auto;
}

