.bienvenido{
    background: url("../IMG/fondo-movil2.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
header.encabezado {
    background: #ffbd59;
}
.fa-home:before {
    color: #293039;
    font-size: 1.6rem;
}
.fa-shopping-cart:before {
    color: #293039;
    font-size: 1.6rem;
}
.fa-user:before {
    color: #293039;
    font-size: 1.6rem;
}
.navbar-light .navbar-brand {
    color: #293039;
    font-size: 0.9rem;
    font-weight: bold;
}
.row{
    
    text-align: center;
    padding: 40px 0px;
}
.texto{
    font-size: 0.8rem;
    font-weight: bold;
}

.fa-concierge-bell:before {
    color: #293039;
    font-size: 3rem;
}
.fa-newspaper:before {
    color: #293039;
    font-size: 3rem;
}
.fa-users-cog:before {
    color: #293039;
    font-size: 3rem;
}
.footer{
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 4px 0px;    
    background-color: #ffbd59;
}
@media (min-width: 768px) { 
    .bienvenido{
        background: url(../IMG/fondo2.jpg);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    .navbar-light .navbar-brand {
        color: #293039;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .texto{
        font-size: 1.6rem;
    }
    .fa-concierge-bell:before {
        font-size: 3rem;
    }
    .fa-newspaper:before {
        font-size: 3rem;
    }
    .fa-users-cog:before {
        font-size: 3rem;
    }
    .footer{
        font-size: 1rem;
    }
}